html, body {
  background-color: white;
  color: @color__dark-green;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: @font;
}

html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

#app {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 0 0 260px;
  padding: 20px 60px;
}